body {
  background-color: rgb(153, 216, 153);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button {
      padding: 10px 14px;
      border-radius: 9px;
      background-color: #fff;
      border: 0.1px solid rgb(7, 75, 16);
      cursor: pointer;
    }

    p {
      margin: 3px;
    }
  }

  .card-pile {
    margin-right: 20px;

    ul {
      cursor: pointer;
    }
  }

  .hidden-card {
    background-color: #661c1c;
    border-radius: 13px;
    color: #fff;
    width: 120px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;

    &:hover {
      transform: scale(1.05);
    }
  }

  .card-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .red {
    color: red;
  }

  .played-card {
    background-color: #ffffff;
    border-radius: 13px;
    width: 120px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}